include LICENSE
include README.md
include CHANGELOG.md
recursive-include tests *.py
recursive-include lib *.py
recursive-include utils *.py
recursive-include docs

exclude docker*.yaml
exclude Dockerfile
